.mta-ui-show {
    display: none;
}

.mta-settings {
    display: none;
}

.gridster {
    display: none;
}

.mta-editor fieldset {
    width: 100%;
    overflow: hidden;
    border: 1px solid #ccc;
    min-height: 200px;
    padding: 5px;
    padding-bottom: 30px;
}
